---
---

<section id="terms" class="flex flex-col mb-8 md:mb-auto gap-3.5 flex-1 p-4 mt-16">
  <h1 class="text-5xl text-center font-bold">Syarat dan Ketentuan</h1>
  <h2 class="text-2xl text-center font-bold mt-4">Ketentuan Umum</h2>
  <ul class="flex flex-col gap-2 w-full m-auto mt-4">
    <li class="w-full bg-gray-100 p-3 rounded-md text-black">
      Pendaftar mengisi formulir pendaftaran yang telah disediakan.
    </li>

    <li class="w-full bg-gray-100 p-3 rounded-md text-black">
      Pendaftar wajib mengikuti aturan penyelenggara Festival.
    </li>

    <li class="w-full bg-gray-100 p-3 rounded-md text-black">
      Semua film yang telah didaftarkan akan masuk ke arsip penyelenggara
    </li>

    <li class="w-full bg-gray-100 p-3 rounded-md text-black">
      Peserta film bersedia untuk diambil cuplikan dalam film guna kepentingan
      promosi Festival
    </li>
    <li class="w-full bg-gray-100 p-3 rounded-md text-black">
      Film akan dikurasi oleh kurator yang telah dipilih oleh penyelenggara.
    </li>
    <li class="w-full bg-gray-100 p-3 rounded-md text-black">
      Semua film yang telah lolos seleksi kurasi akan di putar dalam Festival
      Film Pesantren Purwakarta.
    </li>
    <li class="w-full bg-gray-100 p-3 rounded-md text-black">
      Diharapkan pembuat film yang filmnya telah lolos seleksi kurasi dapat
      datang pada acara Festival Film Purwakarta.
    </li>
    <li class="w-full bg-gray-100 p-3 rounded-md text-black">
      Pemenang film ditentukan melalui proses penjurian oleh juri yang telah
      ditentukan oleh panitia penyelenggara.
    </li>
    <li class="w-full bg-gray-100 p-3 rounded-md text-black">
      Keputusan juri tidak dapat diganggu gugat.
    </li>
    <li class="w-full bg-gray-100 p-3 rounded-md text-black">
      Pemenang setiap kategori akan diumumkan saat malam penganugrahan.
    </li>
    <li class="w-full bg-gray-100 p-3 rounded-md text-black">
      Malam Penganugerahan dilakukan diakhir Festival.
    </li>
    <li class="w-full bg-gray-100 p-3 rounded-md text-black">
      Pemenang yang tidak hadir saat malam penganugerahan akan dihubungi melalui
      Nomor Handphone (WhatsApp)
    </li>
    <li class="w-full bg-gray-100 p-3 rounded-md text-black">
      Informasi tentang jalannya festival akan diinformasikan melalui platform
      instagram <b>@ekrafpurwakarta</b>
    </li>
  </ul>

  <h2 class="text-2xl text-center font-bold mt-24">Ketentuan Lomba / Pendaftaran Film</h2>
  <ul class="flex flex-col gap-2 w-full m-auto mt-4">
    <li class="w-full bg-gray-100 p-3 rounded-md text-black">
      Peserta adalah pembuat film (minimal meliputi sutradara, produser) yang berdomisili di Purwakarta. 
    </li>
    <li class="w-full bg-gray-100 p-3 rounded-md text-black">
      Pembuat film adalah seorang mahasiswa, anggota komunitas, Individu, Pelajar atau Santri yang berdomisili di Purwakarta.  
    </li>
    <li class="w-full bg-gray-100 p-3 rounded-md text-black">
      Pembuatan Film Wajib mengangkat tema <b>Santri & Pesantren</b>.  
    </li>
    <li class="w-full bg-gray-100 p-3 rounded-md text-black">
      Durasi film maksimal <b>20 menit</b>, termasuk credit title.  
    </li>
    <li class="w-full bg-gray-100 p-3 rounded-md text-black">
      Film yang didaftarkan adalah film <i>fiksi</i>
    </li>
    <li class="w-full bg-gray-100 p-3 rounded-md text-black">
      Film yang didaftarkan maksimal diproduksi dari kurun waktu <b>2022-2024</b>. 
    </li>
    <li class="w-full bg-gray-100 p-3 rounded-md text-black">
      Pendaftaran film menyertakan fotokopi KTM/KTP milik pengirim.  
    </li>
    <li class="w-full bg-gray-100 p-3 rounded-md text-black">
      Resolusi film <b>minimal</b> 1920 x 1080 p atau FHD.  
    </li>
    <li class="w-full bg-gray-100 p-3 rounded-md text-black">
      Film dikirimkan melalui link Google Drive (bukan YouTube,Vidsee dan platform lain nya) 
    </li>
    <ul class="w-full bg-gray-100 p-3 rounded-md text-black">
      File Kelengkapan terdiri dari :
      <li class="w-full bg-gray-100 p-3 rounded-md text-black">
        ● Scan copy Identitas ( KTM/KTP/Passport/Kartu Identitas )  
      </li>

      <li class="w-full bg-gray-100 p-3 rounded-md text-black">
        ● Poster Film A3 (Link Google Drive) 
      </li>

      <li class="w-full bg-gray-100 p-3 rounded-md text-black">
        ● Foto sutradara (Link Google Drive)
      </li>
    </ul>
  </ul>
</section>
